<div class="container">
    <%= render 'admin/stored_images/index' %>
    <div class="panel panel-default">
        <div class="panel-body">
            <%= form_for @user, url: {action: 'update_password'}, html: {class: 'form-primary form-validation'} do |f| %>
                <div>
                    <h2><%= t('edit_password') %></h2>
                    <div class="row">
                        <div class="col-md-6">
                            <%= f.label :password, class: 'required' %>
                            <%= f.password_field :password, class: 'form-control', autocomplete: 'off', required: true %>
                        </div>
                        <div class="col-md-6">
                            <%= f.label :password_confirmation, class: 'required' %>
                            <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', required: true %>
                        </div>
                    </div>
                </div>
                <div class="form-footer pull-right">
                    <%= link_to material_icon.arrow_back, admin_users_path, class: 'btn btn-grey', data: { turbolinks: false } %>
                    <%= link_to material_icon.delete, @user, class: 'btn btn-darkpurple', method: :delete, data: {confirm: t('confirm_destroy', title: @user.username, controller_name: t('user'))} if @user.persisted? && current_user != @user %>
                    <%= f.submit class: 'btn btn-blue' %>
                </div>
            <% end %>
        </div>
    </div>
</div>
